.produto {
    align-items: center;
    text-align: center;
}

.descricao {
    /*Aileron Thin Italic*/
    font-family: "aileron", sans-serif;
    font-weight: 100;
    font-style: italic;
}
.principais-produtos {
    margin: 10vh;
    grid-template-columns: repeat(4, 100px);
}
.principais-produtos:hover{
    .scale-up-center {
        -webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
}