/*---------------------------------- Detalhes ----------------------------------*/

.image-container {
    position: relative;
    z-index: 0;
    width: auto;
    height: 410px;
    background-image: url('../img/others/bom_dia.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-container img {
    display: none;
}

.element-on-top {
    position: relative;
    text-align: left;
    justify-content: left;
    z-index: 1;
    color: #E4E2DD;
    

    /*Aileron Light */
    font-family: "aileron", sans-serif;
    font-weight: 300;
    font-style: normal;

    font-size: 15vh;
    padding: 3vw;
    
}

.produto{
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 15px;
    border: solid 2px #1D1D1B;
}


.carrinho{
    display: flex;
}

.ops h1 {
    font-size: 100px;
}
.ops{
    align-items: center;
    text-align: center;
    align-content: center;
    text-align: center;
    height: 80vh;
}

.labrador{
    margin-top: -20px;
    height: 400px;
}