
.produto-p{
    width: 15vw;
    height: auto;
}
.principais-produtos{
    background-color: white;
    width: 25vw;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 12px;
    margin: 2vh ;
    flex-direction: line;
    justify-content: center;
}
.h1-produtos{
    font-size: 7vh;
    padding: 3vw;
}
h3{
    font-weight: bold;
}
.descricao{
    font-style: oblique;
}
.principais-produtos{
    background-image: url('./background-products.png');
}

.produto{
    margin-top: 12px;
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: repeat(2,auto);
    gap: 12px;
    text-align: center;
    border: 1px solid #1D1D1B;
    border-radius: 8px;
}

.preco {
    /*Aileron Light Italic*/
    font-family: "aileron", sans-serif;
    font-weight: 270;
    font-style: italic;
}